# {{ ansible_managed }}

AcceptEnv LANG LC_*
AllowAgentForwarding no

AllowTcpForwarding {{ 'yes' if allow_tcp_forwarding | default(false) else 'no' }}
AllowGroups sshers

ChallengeResponseAuthentication no

# Sicherheitsstarke Ciphers
Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes256-ctr
MACs hmac-sha2-512,hmac-sha2-256
HostKeyAlgorithms ssh-ed25519,ssh-rsa
KexAlgorithms curve25519-sha256@libssh.org,diffie-hellman-group-exchange-sha256

ClientAliveCountMax 3
ClientAliveInterval 15
Compression delayed

GatewayPorts no

HostbasedAuthentication no
IgnoreRhosts yes

ListenAddress {{ ansible_default_ipv4.address }}:{{ ssh_port | default('22') }}

LoginGraceTime 10
LogLevel INFO
MaxAuthTries 3

PasswordAuthentication no
PermitEmptyPasswords no
PermitRootLogin prohibit-password
Protocol 2
PubkeyAuthentication yes

StrictModes yes
Subsystem sftp /usr/lib/openssh/sftp-server
SyslogFacility AUTH

# UsePAM bleibt aus, um doppeltes MOTD zu vermeiden
UsePAM yes

X11Forwarding no

# Hinweis-Banner für rechtliche Zwecke
Banner /etc/issue.net